## Searching for ID

Search priority:

1. CAS number
2. name (exact match)
3. name (partial match)
4. smiles (exact match)
5. smiles (atom count, mw, formula)

at least provide information for one of the three areas

In [10]:
from lookup import lookup_kraken

In [11]:
lookup_kraken(name='bReTtPHOs')

Found result by ligand name

        ligand   id                                         can_smiles
101  BrettPhos  102  COc1ccc(OC)c(P(C2CCCCC2)C2CCCCC2)c1-c1c(C(C)C)...

In [12]:
lookup_kraken(name='cphos')

Found result by ligand name

  ligand  id                                        can_smiles
1  CPhos   2  CN(C)c1cccc(N(C)C)c1-c1ccccc1P(C1CCCCC1)C1CCCCC1

In [14]:
lookup_kraken(name='pph3')

Found result by ligand name

   ligand  id                     can_smiles
16   PPh3  17  c1ccc(P(c2ccccc2)c2ccccc2)cc1

In [7]:
lookup_kraken(smiles='COc1ccccc1C1=C(P(C2CCCCC2)C2CCCCC2)C2c3ccccc3C1c1ccccc12')

No exact match found, here are some possibilities

,ligand,id,can_smiles
325,o-MeO-KitPhos,326,COc1ccccc1C1=C(P(C2CCCCC2)C2CCCCC2)[C@H]2c3ccc...
1127,PPh2(Me2tBu2Xanthenyl),1128,CC(C)(C)c1ccc2c(c1)C(C)(C)c1cc(C(C)(C)C)cc(P(c...

In [9]:
lookup_kraken(smiles='c1ccc(-c2nn(-c3ccccc3)c(-c3ccccc3)c2-n2nccc2P(C2CCCCC2)C2CCCCC2)cc1')

Found result by smiles

           ligand   id                                         can_smiles
326  Cy-BippyPhos  327  c1ccc(-c2nn(-c3ccccc3)c(-c3ccccc3)c2-n2nccc2P(...

In [16]:
lookup_kraken(smiles='CCOCC')

No matches found. This ligand is possibly not in kraken.

In [17]:
lookup_kraken(cas='63832-86-0')

Found result by CAS number

    ligand  id                      can_smiles
18  PBnPh2  19  c1ccc(CP(c2ccccc2)c2ccccc2)cc1

In [20]:
# if match for higher priority term is found, the rest are ignored
lookup_kraken(cas='63832-86-0', name='jason', smiles='jason')

Found result by CAS number

    ligand  id                      can_smiles
18  PBnPh2  19  c1ccc(CP(c2ccccc2)c2ccccc2)cc1

In [21]:
lookup_kraken(cas='000-00-0', name='cYjOHnPhOS', smiles='jason')

Found result by ligand name

       ligand  id                              can_smiles
4  CyJohnPhos   5  c1ccc(-c2ccccc2P(C2CCCCC2)C2CCCCC2)cc1

## Retrive data from Kraken with ID

In [1]:
import pandas as pd
df = pd.read_csv('kraken.csv')
df[df['id'] == 5]

,id,ligand,can_smiles,smiles,smiles(dft_sheet),vmin_vmin_boltz,vmin_r_boltz,fmo_e_homo_boltz,fmo_e_lumo_boltz,fmo_mu_boltz,...,CPO,P[N]3,P(OR)3,Phosphoramidite,PON2,PXY,[Fe],Buchwald,PPhR2,Cy2PR
4,5,CyJohnPhos,c1ccc(-c2ccccc2P(C2CCCCC2)C2CCCCC2)cc1,C1CCC(CC1)P(c1ccccc1c1ccccc1)C1CCCCC1,c1ccc(-c2ccccc2P(C2CCCCC2)C2CCCCC2)cc1,-0.061351,1.816461,-0.218842,-0.030145,-0.124494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0